<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="google-site-verification" content="pjCC66S6fhHPUhUbv5a7Ux6SEBLanclfUe3X_Vb0Rwk" />
  <title>FreePDF - Convert any file to PDF</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://unpkg.com/split-type"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="logo-container">
      <img src="{{ url_for('static', filename='logo.png') }}" alt="FreePDF Logo" class="logo">
    </div>

    <h2 class="rotating-text" id="rotatingText">PDF, Word, Imagen... tú eliges</h2>
    <h1 class="animated-text">Convert your file to PDF</h1>
    

    <form action="/" method="post" enctype="multipart/form-data">
      <label class="custom-file-upload">
        Seleccionar archivo
        <input type="file" name="file" required>
      </label>
      <button type="submit">Convert to PDF</button>
    </form>

    <h1>Convert PDF to DOCX</h1>
    <form action="/pdf-to-docx" method="post" enctype="multipart/form-data">
      <label class="custom-file-upload">
        Seleccionar PDF
        <input type="file" name="file" accept=".pdf" required>
      </label>
      <button type="submit">Convert to DOCX</button>
    </form>
  </div>

  <!-- Animaciones -->
  <script>
    // True Focus
    const text = new SplitType('.animated-text', { types: 'words' });
    gsap.from('.word', {
      opacity: 0,
      y: 50,
      stagger: 0.1,
      duration: 1,
      ease: "back.out(1.7)"
    });

    // Rotating Text
    const rotatingText = document.getElementById('rotatingText');
    const frases = [
      "PDF, Word, Imagen... tú eliges",
      "Convierte en segundos"
    
    ];
    let index = 0;
    setInterval(() => {
      index = (index + 1) % frases.length;
      rotatingText.textContent = frases[index];
    }, 3000);
  </script>
</body>
</html>
